.header {
  border-bottom: 1px solid #ececec;
  & .container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin-left: 93px;
  }
  &__svg {
    margin-right: 10px;
  }
}

.logo {
  color: var(--logo);
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  &__web {
    color: var(--accent-color);
  }
}
